<html>
	<link href ="/css/diary.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
		<title>FocusFriend</title>
		<center>
			<h1>Choose your Spirit Animal:</h1>
			{{#each animals}}
				<div class = "animal">
					<h3>{{species}}</h3>
					<a href="./nameFriend"><img src ="{{imageURL}}" /></a>
					<p>{{description}}</p>
					<br>
					<br>
				</div>
			{{/each}}
	</head>
<body>
</body>
</html>
