<html>
	<head>
		<a href = "/">Home</a>
		<a href ="/"><i class ="fa fa-home fa-2x"></i></a>
		<title>Diary</title>
		<center>
			<h1>Diary Entry</h1>
	</head>
	<body>
			<img src="images/searchbar.png" />
		<p>Title of Entry</p>
			<a href ="./diary">Diary</a>

		</center>
	</body>
</html>
