<html>
	<script src ="http://ajax.googleapis.com/ajax/libs/jquery/"
	<head>
		<a href = "/">Home</a>
		<a href ="/"><i class ="fa fa-home fa-2x"></i></a>
		<title>Diary</title>
		<center>
			<h1>Diary Entry</h1>
	</head>
	<body>
			<img src="images/searchbar.png" />
		<p>Title of Entry</p>
			<a href ="./diary">Diary</a>

<!--- for graphical component -->
	
	<div id ="graph-wrapper">
		<div class ="graph-info">
			<a href ="javascript:void(0)" class ="Today">Today</a>
			<a href ="javascript:void(0)" class ="Yesterday">Yesterday</a>

			<a href ="#" id ="lines" class ="active"><span></span></a>
		</div>

		<div class ="graph-container">
			<div id ="graph-lines"></div>
	</div>
		</center>
	</body>
</html>
