<html>
	<head>
		<a href = "/">Home</a>
		<title>Diary</title>
		<center>
			<h1>Diary Entry</h1>
	</head>
	<body>
			<img src="FocusFriend/ixd-skeleton/images/searchbar.png" />
		<p>Title of Entry</p>
			<a href ="./diary">Diary</a>
		</center>
	</body>
</html>
