<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FocusFriend</title>

		<style type="text/css">

		</style>
	</head>
	<body>
<script src="/js/highcharts.js"></script>
<script src="/js/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



		<script type="text/javascript">
{{#each productivity}}
Highcharts.chart('container{{id}}', {
    chart: {
        type: 'line'
    },
    title: {
        text: '{{date}}'
    },
    subtitle: {
        text: 'Productivity Levels'
    },
    xAxis: {
        categories: {{category}}
    },
    yAxis: {
        title: {
            text: 'Percentage'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Hours',
        data: {{series}}
    }]
});
{{/each}}
		</script>
	</body>
</html>
