<html>
	<head>
		<title>Home Page</title>
<center>
			<h1>Friends Name</h1>
			<p><img src="/Users/jem/introHCI/focusFriend/images/diaryHome.jpg" alt="MISSING PNG" /></p>
			<p><img src="../images/diaryHome.jpg" alt="MISSING PNG" /></p>
	</head>
	<body>
	
		<a href ="./diary">Diary</a>
		<a href ="./options">Options</a>
	

		<p>
			<a href ="./play">Play</a>
		</p>
</center>


	</body>
</html>

