<html>
	<link href ="/css/index.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div id = "wrapper">
	<head>
		<title>Home Page</title>
<center>
			<h1>Friends Name</h1>
			<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
			
			<a href ="./options"><i class="fas fa-cog fa-fw" style="background:MistyRose"></i></a>

			{{#with animals.[0]}}
			<a><img src ="{{imageURL}}"/></a>
			{{/with}}

			<!--<img id="image" src="/images/cogs 120 bear.PNG" alt="MISSING CHARACTER PNG" > <br> -->
	</head>
	<body>
	 <a href ="./welcome">welcome test</a>
		<a href ="./diary">Diary</a>
		<p>
			<a href ="./playTime">Play</a>
		</p>
		<p id="demo"></p>
		<a href = "./choose">Choose Animal Page to be moved to after login.</a>

<script>

	var image=document.getElementById("image");
    var currentPos = 0;
    var images = ["./images/cogs 120 tiger.PNG","./images/cogs 120 pig.PNG","./images/cogs 120 dog.PNG"]
    

    function foto() {
        if (++currentPos >= images.length) currentPos = 0;
        image.src = images[currentPos];
    
    }

    setInterval(foto, 3000);


</script>
</center>


	</body>
	</div>
</html>

