<html>
	<link href ="/css/general.css" rel="stylesheet">
	<link href ="/css/index.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<div id = "wrapper">
	<head>





		<title>Home Page</title>

			

	</head>
	<body>
		<div class ="container">
		<a href ="./options"><i class="fas fa-cog fa-3x"></i></a>
		<a href ="./diary" id = "diary"><i class="fas fa-book fa-3x"></i></a>
		<center>
		<button id = "login">Login or Sign Up</button>
		<script>
			if (sessionStorage.getItem("logged") == "true") {
				$("#login").hide();
			}
		</script>

		<h1 id="titleName"></h1>
			<h1 id="titleAnimalType"></h1>
			
			<a id = "images"><img id ="animal" src = "./images/cogs 120 dog.png"/></a>
			
		<p>
			<a href ="./playTime">Begin Session</a>
		</p>
		<p id="demo"></p>

			<script type="text/javascript">

    		document.getElementById("login").onclick = function () {
       			location.href = "./login";
    		};

    		//name
    			document.getElementById("titleName").innerHTML = localStorage.getItem("petname");
    			console.log(localStorage.getItem("petname"));

  			//index
  				console.log(localStorage.getItem("animalID"));
  				var pet = localStorage.getItem("animalID");

  			//logic to set url
  			 if (pet == 0) {
  			 	document.getElementById("animal").src = "./images/DogHouse.png";
  			 }
  			  if (pet == 1) {
  			 	document.getElementById("animal").src = "./images/BearHouse.png";
  			 }
  			  if (pet == 2) {
  			 	document.getElementById("animal").src = "./images/PigHouse.png";
  			 }
  			 if (pet == 3)  {
  			 	document.getElementById("animal").src = "./images/TigerHouse.png";
  			 }
  				
  			//send current url
  				console.log(document.getElementById("animal").src);
  				localStorage.setItem("animalUrl", document.getElementById("animal").src);


   				
			// </script>
			<!-- Global site tag (gtag.js) - Google Analytics -->


	</body>
	</center>
	</div>
	</div>
</html>

