<html>
	<link href ="/css/index.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div id = "wrapper">
	<head>
		<title>Home Page</title>
<center>
			<h1>Friends Name</h1>
			<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
			<a href ="/"><i class ="fa fa-home fa-2x"></i></a>
			<a href ="./options"><i class="fas fa-cog fa-fw" style="background:MistyRose"></i></a>
			<p><img src="/Users/jem/introHCI/focusFriend/images/diaryHome.jpg" alt="MISSING PNG" /></p>
			<p><img src="../images/diaryHome.jpg" alt="MISSING PNG" /></p>
	</head>
	<body>
	
		<a href ="./diary">Diary</a>
		<p>
			<a href ="./play">Play</a>
		</p>
		<p id="demo"></p>

<script>

var lastClick = 0;
var timeSince = 0;
var isActive = false;

//for all events
//$('*').on('blur change click dblclick error focus focusin focusout hover keydown keypress keyup load mousedown mouseenter mouseleave mousemove mouseout mouseover mouseup resize scroll select submit', function() {

function howlong() {
    timeSince = ((new Date()).getTime() - lastClick);
}


// tests if it has been 15 seconds since the user has been on their phone, and the reason for not in focus is lock screen (40 sec for me)
function isActive()	{
	//if not in focus, but theyr active, its their fault
    if (timeSince < 15000) {
  		isActive = true;
  	}
  	//lock screen activates
  	if (timeSince > 15000) {
  		isActive = false;
  	}
}

setInterval("myFunction()", 3000);

function myFunction() {


$("body").click(function () {
    lastClick = (new Date()).getTime();
    isActive = true;
});
	
    var x = document.getElementById("demo");
    //shouln't affect timeout
    if (document.hasFocus()) {
        x.innerHTML = "The document has focus.";
        x.innerHTML = isActive;
    }
    // doc is not in focus and has been touching 
    else {
    	x.innerHTML = timeSince;
    	howlong();
    	//if docs not in focus and theyre active its not timeout, its them
    	//if (isActive == true) {
	  	document.write("timeSince: " + timeSince);
  		//}
    }
}
</script>
</center>


	</body>
	</div>
</html>

