<html>
	<link href ="/css/index.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
		<title>Home Page</title>
<center>
			<h1>Friends Name</h1>
			<a href ="/"><i class ="fa fa-home fa-2x"></i></a>
			<p><img src="/Users/jem/introHCI/focusFriend/images/diaryHome.jpg" alt="MISSING PNG" /></p>
			<p><img src="../images/diaryHome.jpg" alt="MISSING PNG" /></p>
			<p><img src="images/cogs 120 bear.png">
	</head>
	<body>
	
		<a href ="./diary">Diary</a>
		<a href ="./options">Options</a>
	

		<p>
			<a href ="./play">Play</a>
		</p>
</center>


	</body>
	</div>
</html>

