<html>
	<link href ="/css/index.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div id = "wrapper">
	<head>
		<title>Home Page</title>
<center>
			<h1>Friends Name</h1>

			<a href ="/"><i class ="fa fa-home fa-2x"></i></a>
			<a href ="./options"><i class="fas fa-cog fa-fw" style="background:MistyRose"></i></a>
			<p><img src="/Users/jem/introHCI/focusFriend/images/diaryHome.jpg" alt="MISSING PNG" /></p>
			<p><img src="../images/diaryHome.jpg" alt="MISSING PNG" /></p>
	</head>
	<body>
	
		<a href ="./diary">Diary</a>
	
	

		<p>
			<a href ="./play">Play</a>
		</p>

		<p id="demo"></p>

<script>
setInterval("myFunction()", 1);

function myFunction() {
    var x = document.getElementById("demo");
    if (document.hasFocus()) {
        x.innerHTML = "The document has focus.";
    } else {
        x.innerHTML = "The document DOES NOT have focus.";
    }
}
</script>


</center>


	</body>
	</div>
</html>

