<html>
	<link href ="/css/general.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>FocusFriend</title>
		<center>
			<h1>Sign Up or Log In</h1>
	</head>
	<body>
		
		<p>Connect to facebook:</p>
		<button id = "faceBookLogin">FaceBook pic goes here</button>
		<script type="text/javascript">
			document.getElementById("faceBookLogin").onclick = function () {
				alert("Facebook sign in stuff..... Connected!");
					location.href = "./index";
	
			};
		</script>

		<p>Sign in with email:</p>
		<button id = "signIn">Sign In with Email</button>
		<script type="text/javascript">
			document.getElementById("signIn").onclick = function () {
				location.href = "./newAccount";
			};
		</script>
		<br>
		<p>No account?</p>
		<button id = "signUp">Sign Up with Email:</button>
		<script type="text/javascript">
			document.getElementById("signUp").onclick = function () {
				location.href = "./newAccount";
			};
		</script>

		<br>

	</body>
	</center>
	</div>
</html>
