<html>
	<link href ="/css/login.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>Name</title>
		<center>
			<h1>Log In</h1>
	</head>
	<body>
		<form action :"./choose">
					Username:<br>
					<input type ="text" name= "username">
					<br>
					<br>
					Password:<br>
					<input type ="text" name="password">
					<br>
					<br>
					<input type ="submit" value ="Next">
				</form>
	</body>
	</center>
</html>
