<html>
	<link href ="/css/login.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>Name</title>
		<center>
			<h1>Enter your user name and password :</h1>
			<a href ="./choose">Choose Your Friend!</a>
	</head>
<body>
</body>
</html>
