<html>
	<link href ="/css/general.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
		<a href ="./index"><i class ="fa fa-home fa-2x"></i></a>
	
				<title>FocusFriend</title>
		<center>
			<h1>Sign Up or Log In</h1>
	</head>
	<body>
		<h1>Sign in to Facebook</h1>
		<p class="facebookLogin">
			<br>
			<br>
			<fb:login-button scope ="public_profile,email" onlogin ="checkLoginState();">
			</fb:login-button>
			</p>
		</div>
		

		<script type="text/javascript">
			document.getElementById("facebook").onclick = function() {
				alert("Connected!");
					location.href = "./index";
		}
		</script>


		<!--<button id = "faceBookLogin"><i class="fab fa-facebook-square fa-5x"></i></button>
		<script type="text/javascript">
			document.getElementById("faceBookLogin").onclick = function () {
				alert("Facebook sign in stuff..... Connected!");
					location.href = "./index";
	
			};
		</script>
		-->
		<p>Sign in with email:</p>
		<button id = "signIn">Sign In with Email</button>
		<script type="text/javascript">
			document.getElementById("signIn").onclick = function () {
				location.href = "./newAccount";
			};
		</script>
		<br>
		<p>No account?</p>
		<button id = "signUp">Sign Up with Email:</button>
		<script type="text/javascript">
			document.getElementById("signUp").onclick = function () {
				location.href = "./newAccount";
			};
		</script>

		<br>

	<script src ="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
	</body>
	</center>
	</div>
</html>
