<html>
	<link href ="/css/general.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>FocusFriend</title>
		<center>
			<h1>Name your friend</h1>			
	</head>
		<body>
			<br>
			<br>
			<br>
			<form id="myForm" action ="./index">
				<input type ="text" name = "petname" id="name">
				<br>
				<br>
				<br>
				<input type = "submit" value ="Next" onclick ="store()">
				<script type ="text/javascript">
					function store() {
						var input = document.getElementById("name");
						localStorage.setItem("petname", input.value);
					}
				

				</script>

			</form>
				

		</body>
		</center>
</html>
