<html>
	<link href ="/css/general.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>FocusFriend</title>
		<center>
			<h1>Name your friend</h1>			
	</head>
		<body>
			<br>
			<br>
			<br>
			<form id="myForm" action ="./index">
				<input type ="text" name = "petname" value = "hi">
				<br>
				<br>
				<script>

					var pet = document.getElementsByName("petname")[0].value;
					localStorage.setItem('petuname', pet);
					//console.log(pet);
					//console.log("pet");
					//console.log(petname);
				
				

				</script>
				<br>
				<br>
				<input type = "submit" value ="Next">
			</form>
				

		</body>
		</center>
</html>
