<html>
	<link href ="/css/nameFriend.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>Welcome Screen</title>
		<center>
			<h1>Name your friend: </h1>			
	</head>
		<body>
			<form action ="./index">
				<input type ="text" name ="petname">
				<br>
				<br>
				<input type = "submit" value ="Next">
			</form>
		</body>
		</center>
</html>
