<html>
	<link href ="/css/general.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>FocusFriend</title>
		<center>
			<h1>Name your friend</h1>			
	</head>
		<body>
			<br>
			<br>
			<br>
			<form id="myForm" action ="./index">
				<input type ="text" name = "petname" id="name">
				<br>
				<br>
				<br>
				<input type = "submit" value ="Next" onclick ="store()">
				<script type ="text/javascript">
					function store() {
						var input = document.getElementById("name");
						localStorage.setItem("petname", input.value);
					}
				

				</script>

			</form>
				
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114835551-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114835551-1');
</script>

		</body>
		</center>
</html>
