<html>
	<link href ="/css/nameFriend.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>Welcome Screen</title>
		<center>
			<h1>Name your friend: </h1>
			<a href ="/">Go to Friends home!</a>
	</head>
<body>
</body>
</html>
