<html>
	<link href ="/css/general.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>FocusFriend</title>
		<center>
			<h1>Log In or Sign Up</h1>
	</head>
	<body>
		<form action = "./index">
					Username<br><br>
					<input type ="text" name= "username">
					<br>
					<br>
					<br>
					Password<br><br>
					<input type ="PASSWORD" name="password">
					<br>
					<br>
					<br>
					<br>
					<input type ="submit" value ="Complete and Go Home">
				</form>


		

		<br>

	</body>
	</center>
	</div>
</html>

