<html>
	<link href ="/css/general.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<head>
	
				<title>FocusFriend</title>
		
	</head>
	<body>
		<div class = "container">
		<a href ="./index"><i class ="fa fa-home fa-2x"></i></a>
		<center>
		<h1>Log In or Sign Up</h1>
		<form action = "./index">
					Username<br><br>
					<input type ="text" name= "username" required>
					<br>
					<br>
					<br>
					Password<br><br>
					<input type ="PASSWORD" name="password" required>
					<br>
					<br>
					<br>
					<br>
					<input type ="submit" onclick ="accountMade();" value ="Complete and Go Home">
				</form>

		<script>
		function accountMade() {
			sessionStorage.setItem("logged", "true");
		}
		</script>
		

		<br>

	</center>
	</body>
	</div>
</html>

