<html>
	<link href ="/css/general.css" rel ="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class ="container">
	<head>
		<a href ="./index"><i class ="fa fa-home fa-2x"></i></a>
		<title>FocusFriend</title>
		<center>
			<h1>Options</h1>
	</head>
	<body>
		
		</center>
	</body>
	</div>
</html>
