<html>
	<link href ="/css/general.css" rel="stylesheet">
	<link href ="/css/playTime.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<head>
	
				<title>Welcome Screen</title>
	</head>
	<body>
		<div class = "container">
		<a href ="./index"><i class ="fa fa-home fa-3x"></i></a>
		<center>
			<h1>Enter Time To Play</h1>
			<form name="playTime" id="playAction" method ="post" action = "./playAlt">
				Hours : Minutes<br><br>
				<table>
					<tr>
						<td><input type ="number" name ="hours" id ="hrs" placeholder ="Hours"></td>
						<td><p> : </p></td>
						<td><input type ="number" name ="minutes" id ="mins" placeholder ="Minutes"></td>
					</tr>
				</table>
				<br>
				<br>
				<input type ="button" value = "Begin" onclick = "validateStore()">

				<script type ="text/javascript">
						function validateStore() {
							if (playTime.hours.value == '' && playTime.minutes.value == '') {
								alert("Enter in either hours or minutes!");
							} else if ((playTime.hours.value == '0' && (playTime.minutes.value == '0' || playTime.minutes.value == '')) || (playTime.minutes.value == '0' && (playTime.hours.value == '0' || playTime.hours.value == ''))) {
								alert("Enter a nonzero time!");
							} else {
								var hour = document.getElementById("hrs");
								var minute = document.getElementById("mins");

								sessionStorage.setItem("hrs", hour.value);
								sessionStorage.setItem("mins", minute.value);
								playTime.submit();
							}

						}
					
				</script>
				<br>
				<br>
				<a>Your animal friend is here to help you focus mindfully:<br/></a>
				<a>- Keep this screen open and they will be happy!<br/></a>
				<a>- When you leave they become sad</a>
				<br>
				<br>
				<div class = "footnote">
				<p>Note: Type "0" to leave a field empty</p>
				</div>
				
		</form>
<script>
	$(document).ready(function () {
		let rando = Math.random() * 100;

		if (Math.floor(rando) % 2 == 0) {
			$('#playAction').prop('action', './play');
		}
	});

</script>

	</body>
	</center>
	</div>
</html>
