<!DOCTYPE html>
<html>
	<link href ="/css/general.css" rel="stylesheet">
	<link href ="/css/play.css" rel ="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class ="container">
	<head>
		<a href ="./index"><i class ="fa fa-home fa-2x"></i></a>
		<title>FocusFriend</title>
		<center>
			<h1>Focus Together!</h1>
			<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
				
				{{#with animals.[1]}}
			 <div> {{ imageURL }} </div>​
				{{/with}} 
			​
				{{#with animals.[0]}}
						<img id ="image" src ="{{imageURL}}"/>
					{{/with}} 



					
	

	</head>
	<body>

<!-- 			{{#each animals}}
						<a id="image"><img src ="{{imageURL}}"/></a> 
			{{/each}} -->
		<!-- we should put their chosen animal var here later -->
		

			<!-- timer implemented below -->			
			<p id="demo"></p>

			<!-- PROGRESS BAR PRODUCTIVITY-->
			<br>
			<h4>Productivity</h4>
			<div id ="productivityProgress">
				<div id ="productivityBar">100%</div>
			</div>
			<br>
			<br>
			<br>

			<!-- PROGRESS BAR TIME-->
			<h4>Progress</h4>
			<div id ="userProgress">
				<div id ="progressBar">0%</div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<button onclick ="move()">Begin Session</button>


 			<!-- <div id ="percentage" class ="percentage-count">100%</div>
 				<div class ="progress-bar">
 					<div class ="progress" id ="progress">
 					</div>
 				</div>
 			</div> -->

			<script>
			function processInput() {
				//get user's minute and hour input
				var str = location.search;
				var hours = str.substring(str.indexOf("=") + 1, str.indexOf("&"));
				var minutes = str.substring(str.lastIndexOf("=") + 1);

				//convert the given input into milliseconds
				var totalTime = (hours * 3600000) + (minutes * 60000);
				//return the total time in milliseconds
				return totalTime;
			}

			function move() {
				//get the total time from this function into variable time
				var time = processInput();
				//make that progress bar move
				var elem = document.getElementById("progressBar");
				var width = 1;

				//divide the total time into percentage, which is out of 100
				var count = time/100;
				
				//visual movement
				var id = setInterval(frame, count);
				function frame() {
					if (width >= 100) {
						clearInterval(id);
						completeTask();
					} else {
						width++;
						elem.style.width = width + '%';
						elem.innerHTML = width * 1 + '%';
						calculate();
					}
				}
			}
					//calling once makes shuffle work
					myFunction();
					//setting as interval makes only sad work


					function myFunction() {
				    	if(document.hasFocus()) {
				    	var time = processInput();
						console.log(time);
						//about enough to get through all images, will change magic number to size of picpath later
						var stagger = (time/3) + 2000;
						console.log(stagger);
						var picPaths = ['./images/Happy1.png','./images/Happy2.png','./images/Happy3.jpg'];
			            var curPic = -1;
			            //preload the images for smooth animation
			            var imgO = new Array();
			            for(i=0; i < picPaths.length; i++) {
			                imgO[i] = new Image();
			                imgO[i].src = picPaths[i];
			            }

			            function swapImage() {
			                curPic = (++curPic > picPaths.length-1)? 0 : curPic;
			                imgCont.src = imgO[curPic].src;
			                setTimeout(swapImage,stagger);
			            }

			            window.onload=function() {
			                imgCont = document.getElementById('image');
			                swapImage();
			            }
				   		} else {
				   			var i = document.getElementById("image");
				   			i.src="./images/Sad.png";
							//setInterval(function() {i.src = "./images/Sad.png"}, 10);
						
						}
					}

			//calculate total productivity time. Should be 100% initially, then decrease if the user is not being producitive
			function calculate() {
				var timeTotal = processInput();
				var timeNotFocus = 0;
				var elem = document.getElementById("productivityBar");
				var width = 100;
				var currentWidth = 100;
				if(document.hasFocus() == false){
					var counter = setInterval(function() {
						timeNotFocus += 1000;
							if(document.hasFocus()){
								clearInterval(counter);
							}
					}, 1000);
					console.log(timeNotFocus);
					var count = timeTotal/100;
					var id = setInterval(frame, count);
					function frame() {
						if (width <= 0) {
							clearInterval(id);
						} else if (document.hasFocus()) {
							clearInterval(id);
							width = currentWidth;
						} else {
							width--;
							currentWidth--;
							elem.style.width = width + '%';
							elem.innerHTML = width * 1 + '%';
						}
					}
				}
			}

			// function progressMove(){
			// 	var prg = document.getElementById("progress");
			// 	var percent = document.getElementById("percentage");
			// 	var count = 5;
			// 	var progress = 0;
			// 	var id = setInterval(frame, 50);

			// 	function frame() {
			// 		if (progress == 20 && count == 100) {
			// 			clearInterval(id);
			// 		} else {
			// 			progress += 1;
			// 			count += 10;
			// 			prg.style.width = progress + 'em';
			// 			percent.innerHTML = count + '%';
			// 		}
			// 	}

			// }

			// progressMove();

			</script>

			<br>
			<br>

			<!-- timer implemented below -->
			<script>
				function completeTask (){
				setTimeout(function(){ alert("Good job! Go Home and rest"); }, 2000);
				}
			</script>
			
	</body>
	</center>
	</div>
</html>
