<html>
	<link href ="/css/general.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>Welcome Screen</title>
		<center>
			<h1>Enter Time To Play</h1>
	</head>
	<body>
		<form action = "./play" method ="GET">
				Hours : Minutes<br><br>
				<table>
					<tr>
						<td><input type ="number" name="hours"></td>
						<td><p> : </p></td>
						<td><input type ="number" name="minutes"></td>
					</tr>
				</table>
				<br>
				<br>
				<br>
				<br>
				<input type ="submit" value = "Play">
		</form>
	</body>
	</center>
	</div>
</html>
