<html>
	<link href ="/css/playTime.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>Welcome Screen</title>
		<center>
			<h1>Enter Time To Play</h1>
	</head>
	<body>
		<form action = "./play">
				Minutes:<br>
				<input type ="number" name="minutes">
				<br>
				<br>
				Hours:<br>
				<input type ="number" name="hours">
				<br>
				<br>
				<input type ="submit" value = "Play">
			</form>
	</body>
	</center>
	</div>
</html>
