<html>
	<link href ="/css/general.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<head>
	
				<title>Welcome Screen</title>
	</head>
	<body>
		<div class = "container">
		<a href ="./index"><i class ="fa fa-home fa-3x"></i></a>
		<center>
			<h1>Enter Time To Play</h1>
		<form action = "./play" method ="GET">
				Hours : Minutes<br><br>
				<table>
					<tr>
						<td><input type ="number" name="hours" placeholder = "Hours" required></td>
						<td><p> : </p></td>
						<td><input type ="number" name="minutes" placeholder = "Minutes" required></td>
					</tr>
				</table>
				<br>
				<br>
				<br>
				<br>
				<input type ="submit" value = "Play">
				<h6>Note: Type "0" for any fields you want to leave empty.</h6>
		</form>

		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114835551-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114835551-1');
</script>

	</body>
	</center>
	</div>
</html>
