<html>
	<link href ="/css/general.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<head>
	
				<title>Welcome Screen</title>
	</head>
	<body>
		<div class = "container">
		<a href ="./index"><i class ="fa fa-home fa-3x"></i></a>
		<center>
			<h1>Enter Time To Play</h1>
			<form id="playAction" method ="post" action = "./playAlt">
				Hours : Minutes<br><br>
				<table>
					<tr>
						<td><input type ="number" name ="hours" id ="hrs" placeholder ="Hours" required></td>
						<td><p> : </p></td>
						<td><input type ="number" name ="minutes" id ="mins" placeholder ="Minutes" required></td>
					</tr>
				</table>
				<br>
				<br>
				<br>
				<br>
				<input type ="submit" value = "Play" onclick = "store()">

				<script type ="text/javascript">
						function store() {
							var hour = document.getElementById("hrs");
							sessionStorage.setItem("hrs", hour.value);
							var minute = document.getElementById("mins");
							sessionStorage.setItem("mins", minute.value);

						}
					
				</script>

				<h6>Note: Type "0" for any fields you want to leave empty.</h6>
		</form>
<script>
	$(document).ready(function () {
		let rando = Math.random() * 100;

		if (Math.floor(rando) % 2 == 0) {
			$('#playAction').prop('action', './play');
		}
	});


  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114835551-1');
</script>

	</body>
	</center>
	</div>
</html>
