	
<html>
	<link href ="/css/playTime.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>Welcome Screen</title>
		<center>
			<h1>Enter Time to play</h1>
			<a href ="./playTime">Play</a>
	</head>
<body>
</body>
</html>
