<html>
	<link href ="/css/general.css" rel="stylesheet">
	<link href ="/css/welcome.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>Welcome Screen</title>
		<center>
			<h1>Welcome to Focus Friend</h1>
			<br>
			<br>
			<br>
			<br>
			<br>
			<button id = "login">Login</button>
			<script type="text/javascript">
    			document.getElementById("login").onclick = function () {
        			location.href = "./login";
    			};
			</script>
	</head>
	<body>
	</body>
	</div>
</html>
