<html>
	<link href ="/css/general.css" rel="stylesheet">
	<link href ="/css/welcome.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
	
				<title>Welcome Screen</title>
		<center>
			<h1>Welcome to Focus Friend</h1>
			<p>
				Focus Friend will help you grow and focus 
				<br>
				with your personal spirit animal. The longer 
				<br>
				you focus together, the happier they will be!
				<br>

			</p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<button id = "choose">Choose your friend!</button>
			<script type="text/javascript">
    			document.getElementById("choose").onclick = function () {
        			location.href = "./choose";
    			};

    			var a = []
    			localStorage.setItem("percent", JSON.stringify(a));
        		a.push(JSON.parse(localStorage.getItem("percent")));
        		console.log(localStorage.getItem("percent"));
			</script>
	</head>
	<body>
	</body>
	</div>
</html>
