/*this is for progress bar*/

body {
	margin: 0;
	padding: 0;
}

/*.percentage-count {
	width: 450px;
	height: 50px;
	margin: 100px auto;
	font-size: 3em;
	text-align: center;
	color: #E9C46A;
}

.progress-bar {
	width: 35em;
	height: 3em;
	padding: 3px;
	border: 0.5em solid gray;
	border-radius: 3em;
	margin: 50px auto;
}

.progress {
	float:left;
	width: 2em;
	height: 2.3em;
	border-radius: 1.5em;
	margin: 6px auto;
	background-color: #E9C46A;
}*/


#userProgress {
	width: 70%;
}

#progressBar {
	width: 1%;
	height: 30px;
	background-color: #E9C46A;
	border-radius: 1.5em;
	text-align: center;
	line-height: 30px;
	float:left;
	color: #2722838;
}

#productivityProgress {
	width: 60%;
}

#productivityBar {
	width: 60%;
	height: 30px;
	background-color: #5BAE5E;
	border-radius: 1.5em;
	text-align: center;
	line-height: 30px;
	float:left;
	color: #2722838;
}