/*this is for progress bar*/

body {
	margin: 0;
	padding: 0;
}


#userProgress {
	width: 70%;
}

#progressBar {
	width: 1%;
	height: 40px;
	background-color: #E9C46A;
	border-radius: 1.5em;
	text-align: center;
	line-height: 40px;
	float:left;
	color: #2722838;
}

#productivityProgress {
	width: 60%;
}

#productivityBar {
	width: 100%;
	height: 40px;
	background-color: #5BAE5E;
	border-radius: 1.5em;
	text-align: center;
	line-height: 40px;
	float:left;
	color: #2722838;
}

.alertify {
	min-height:500px;
}