/*this is for progress bar*/

#userProgress {
	width: 70%;
}

#progressBar {
	width: 1%;
	height: 30px;
	background-color: #E9C46A;
	text-align: center;
	line-height: 30px;
	float:left;
	color: #2722838;
}